<!DOCTYPE html>
<html xml:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUpForm</title>
    <link rel="stylesheet" href="style.css">

</head>

<body>

<div class="wrapper">
    <div class="title">
        Signup Form
    </div>
    <form action="#">
        <div class="field">
            <input type="text" required>
            <label>Your firstname</label>
        </div>
        <div class="field">
            <input type="text" required>
            <label>Your lastname</label>
        </div>
        <div class="field">
            <input type="text" required>
            <label>Email address</label>
        </div>
        <div class="field">
            <input type="password" required>
            <label>Password</label>
        </div>
        <div class="field">
            <input type="password" required>
            <label>Repeat password</label>
        </div>
        <div class="content">
            <div class="checkbox">
                <input type="checkbox" id="remember-me">
                <label for="remember-me">Remember me</label>
            </div>
            <div class="pass-link">
                <a href="#">Forgot password?</a>
            </div>
        </div>
        <div class="field">
            <input type="submit" value="Login">
        </div>

    </form>
</div>
</body>
</html>
